<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>touchID-Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A84CA5391C259E6F00FB0AFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A84CA5521C259E6F00FB0AFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A84CA55D1C259E6F00FB0AFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
